@font-face {
  font-family: Raleway;
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

@import "tailwindcss";

@import "tw-animate-css";

* {
  @apply box-border;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text) !important;
  -webkit-box-shadow: var(--shadow-l), 0 0 0px 1000px var(--bg-light) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-clip: content-box !important;
  caret-color: var(--text) !important;
}

@theme {
  --font-raleway: Raleway, sans-serif;
  --breakpoint-xs: 40rem;
  --breakpoint-xlg: 90rem;
  --breakpoint-xxlg: 110rem;
  --profile-gradient: 160deg, oklch(0.7 0.1 60), oklch(0.8 0.1 70), oklch(0.9 0.1 80);
  --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
  --radial-color: oklch(1 0.2 50);
  --bg-dark: oklch(0.85 0.075 80);
  --bg: oklch(0.95 0.075 80);
  --bg-light: oklch(1 0.075 80);
  --text: oklch(0.15 0.15 80);
  --text-muted: oklch(0.4 0.15 80);
  --highlight: oklch(0.9 0.15 80);
  --highlight-hover: oklch(0.6 0.2 270);
  --border: oklch(0.6 0.16 60);
  --border-muted: oklch(0.7 0.15 80);
  --primary: oklch(0.4 0.15 80);
  --secondary: oklch(0.5 0.2 240);
  --danger: oklch(0.5 0.3 30);
  --light-danger: oklch(0.7 0.25 30);
  --warning: oklch(0.5 0.15 100);
  --success: oklch(0.5 0.15 160);
  --info: oklch(0.8 0.2 260);
  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
  --profile-gradient: 160deg, oklch(0.1 0.1 80), oklch(0.15 0.1 80), oklch(0.2 0.1 80);
  --radial-color: oklch(0.2 0.4 100);
  --bg-dark: oklch(0.1 0.075 80);
  --bg: oklch(0.15 0.075 80);
  --bg-light: oklch(0.2 0.075 80);
  --text: oklch(0.96 0.1 80);
  --text-muted: oklch(0.76 0.1 80);
  --highlight: oklch(0.2 0.2 20);
  --highlight-hover: oklch(0.4 0.2 20);
  --border: oklch(0.4 0.15 80);
  --border-muted: oklch(0.3 0.15 80);
  --primary: oklch(0.76 0.15 80);
  --secondary: oklch(0.5 0.4 180);
  --danger: oklch(0.5 0.3 30);
  --light-danger: oklch(0.3 0.3 30);
  --warning: oklch(0.7 0.15 100);
  --success: oklch(0.7 0.15 160);
  --info: oklch(0.2 0.2 260);
  --shadow-s: inset 0 1px 2px #ffffff25, 0 1px 2px #00000080, 0 2px 4px #00000060;
  --shadow-m: inset 0 1px 2px #ffffff35, 0 2px 4px #00000090, 0 4px 8px #00000070;
  --shadow-l: inset 0 1px 2px #ffffff45, 0 4px 6px #000000a0, 0 6px 10px #00000085;
}

body {
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  overflow: hidden;
  @apply bg-no-repeat bg-cover m-0 p-0;
}

@layer utilities {
  @keyframes bounce-left {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-8px);
    }
  }
  .animate-bounce-left {
    animation: bounce-left 1s ease-in-out infinite;
  }
  .radial-overlay {
    position: relative;
    overflow: hidden;
  }

  .radial-overlay::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 50rem;
    height: 50rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: 0.5s, top 0s, left 0s;
    background: radial-gradient(var(--radial-color), transparent, transparent);
    pointer-events: none;
    z-index: 0;
  }
  .radial-overlay:hover::before {
    opacity: 1;
  }
  .radial-overlay::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: var(--gradient);
    border-radius: 20px;
    z-index: -1;
  }
  .radial-overlay > * {
    position: relative;
    z-index: 1;
  }
  .blur-bg {
    border: 3px solid hsl(0, 0%, 100%, 0.2);
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px hsl(0 0% 100% / 20%);
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-hover);
    border: 3px solid transparent;
    background-clip: content-box;
    cursor: initial;
  }
}
